body {
    padding: 0.6rem;
    margin: 0 auto;
    font-size: 16px;
    background-color: #EDF2F4;
}

header {
    text-align: center;
    padding: .5rem;
    background-color: #8D99AE;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

header div.logo {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.logo picture {
    grid-column: 1 / 2;
    justify-self: right;
    align-self: center;
    width: 90%;
    margin-right: .2rem;
}

div.logo picture img {
    width: 100%;
    height: auto;
}

div.logo section.slogan {
    grid-column: 2 / 3;
    justify-self: left;
    align-self: center;
    margin: 0 0 1rem 0;
    text-align: center;
}

div.logo section.slogan h1 {
    font-family: 'Bebas Neue', Tahoma, cursive;
    color: #2b2d42;
    margin: .2rem .2rem 0 .2rem;
    font-size: 1rem;
    letter-spacing: .2rem;
}

div.logo section.slogan div {
    font-family: 'Poppins', sans-serif;
    font-size: .5rem;
    margin-top: 0;
    color: #2B2D42;
}

.reserve {
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: flex-end;
    margin-right: 0;
    align-self: center;
    text-align: center;
    background-color: #E6EEFB;
    border: #2B2D42 .3px solid;
    height: 3.7rem;
    padding: .5rem;
    border-radius: .4rem;
}

.reserve p {
    margin: 0;
    font-size: 1.2rem;
    color: #d90427;
    font-family: 'Bebas Neue', Tahoma, cursive;
}

.reserve input {
    color: #8D99AE;
    font-family: 'Poppins', sans-serif;
    width: 3.8rem;
    background-color: #2b2d42;
    font-size: .8rem;
    margin-top: .2rem;
    padding: .3rem;
}

h2,
h3 {
    margin-top: 3rem;
    color: #D90429;
    font-family: 'Bebas Neue', Tahoma, cursive;
}

main {
    max-width: 350px;
    color: #14213D;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 1.5rem .2rem;
}

.hide {
    display: none;
}

nav button {
    padding: .6rem;
    background-color: #2B2D42;
    border: .1rem solid #8D99AE;
    color: #8D99AE;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 1.5rem;
}

nav button:hover {
    background-color: #8D99AE;
    color: #2b2d42;
}

nav {
    max-width: max-content;
    text-align: center;
}

nav ul {
    background-color: #2B2D42;
    padding: 1rem;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #8D99AE;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    background-color: #8D99AE;
    color: #2B2D42;
}

picture {
    width: 95%;
    margin: 0 auto;
}

picture img {
    width: 100%;
}

.active {
    color: #EC6D74;
}

div.hero {
    margin-top: 1rem;
    position: relative;
}

div.summary {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: larger;
    font-weight: bold;
    padding: .5rem;
    text-align: center;
}

div.summary h2 {
    margin: .5rem 0;
}

.summary table {
    margin: 0 auto;
    font-size: 1.2rem;
    padding: .5rem;
    width: max-content;
    background-color: #8d99aea4;
    border: 1px solid #2b2d42bb;
}

.summary table td {
    border: none;
}

.summary table td.right {
    padding: .9rem 0 .9rem .9rem;
}

.summary table td.value {
    padding: .9rem .9rem .9rem 0;
}

div.forecastDiv {
    margin: 4rem auto;
}

.forecast {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.forecastCol img {
    max-width: 40%;
    margin: .7rem auto;
}

.forecastDay {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #2B2D42;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    background-color: #8D99AE;
}

.forecastCol {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #8D99AE;
    border: 2px solid #2B2D42;
}

.forecastCol p {
    font-weight: bolder;
}

picture.heroImg {
    max-width: 100%;
}

picture.heroImg img {
    width: 100%;
}

ul.rentals li {
    margin: .5rem;
}

caption {
    font-family: 'Bebas Neue', Tahoma, cursive;
    font-size: 1.7rem;
    padding: .6rem;
    border: 1.5px solid #2B2D42;
    background-color: #7fb9c2;
    font-weight: bold;
}

table {
    margin: 4rem auto;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 250px;
    background-color: #EDF2F4;
    font-size: 1rem;
}

table,
caption {
    box-shadow: 8px 8px 15px #8D99AE;
}

td,
th {
    border: 1.5px solid #2B2D42;
    text-align: center;
    padding: .2rem;
}

thead th {
    background-color: #8D99AE;
    color: #2B2D42;
    font-size: 1rem;
    font-weight: bold;
}

.vehicles {
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-back h2 {
    color: #8D99AE;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front img {
    border: 2px solid #2B2D42;
    width: 300px;
    height: 300px;
    max-width: 100%;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2B2D42;
    color: white;
    transform: rotateY(180deg);
}

ul.rentInfo li {
    margin: .6rem;
}

div.confirm {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 2.5rem auto;
    padding: 2rem;
    max-width: fit-content;
    background-color: #2b2d42;
    color: #8D99AE;
}

div.confirm p {
    text-align: center;
}

div.confirm img {
    max-width: 30%;
    width: 3.5rem;
    display: block;
    margin: 0 auto;
}

form.myForm {
    display: block;
}

form.myForm div.message {
    display: block;
}

form.myForm div.info {
    display: block;
}

fieldset.contactForm {
    margin: 3.5rem auto;
    width: max-content;
    padding: 2rem;
}

fieldset.contactForm textarea {
    margin-top: 1rem;
}

fieldset.contactForm input.submitBtn {
    margin: 1.5rem auto;
}

fieldset {
    margin: 1rem 0;
    border: 3px solid #8D99AE;
    border-radius: 10px;
    padding: 1rem 5%;
}

legend {
    color: #2b2d42;
    font-weight: bolder;
    margin: 0 1rem;
    padding: 0 .5rem;
}

label.top {
    display: block;
    padding-top: 1rem;
    color: #2b2d42;
    font-size: .9rem;
}

label.top input,
label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 15rem;
    background-color: rgba(0, 0, 0, 0.1);
}

input.submitBtn {
    border: none;
    background-color: #2B2D42;
    color: #8D99AE;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

label.top input:required {
    border-left: red solid 6px;
}

label.top input:required:valid {
    border-left: green solid 6px;
}

fieldset textarea {
    border-radius: .3rem;
    max-width: 20rem;
}

#container {
    padding: 2rem;
    height: auto;
    width: 50%;
    box-sizing: border-box;
    margin: 3rem auto;
    background: none;
}

div.title {
    margin: 0 auto;
    position: absolute;
    text-align: center;
}

div.title label {
    color: #2b2d42;
    font-family: 'Bebas Neue', Tahoma, cursive;
    text-align: center;
    font-size: 2rem;
    justify-self: center;
}

div.title p {
    font-size: .9rem;
}

#galleryContainer {
    margin-top: 6rem;
    height: auto;
    width: 300px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#galleryView {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainView {
    height: 350px;
    width: 250px;
    border-radius: 5px;
    background-color: #2b2d42;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
}

#mainView:hover {
    transform: scale(1.2);
    transition: all 1s;
}

#leftView {
    height: 350px;
    width: 50px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(5deg);
    transform-origin: top right;
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#leftView:hover {
    opacity: 1;
    transition: all 1s;
}

#rightView {
    height: 350px;
    width: 50px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(-5deg);
    transform-origin: top left;
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#rightView:hover {
    opacity: 1;
    transition: all 1s;
}

button.navBtns {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #8D99AE;
    border: .5px solid #2B2D42;
    font-size: .5rem;
    border-radius: .4rem;
}

h2.tourPlan {
    font-size: 2rem;
    color: #2B2D42;
    letter-spacing: .2rem;
    margin-bottom: 0;
    text-decoration: underline;
}

main article {
    margin: 2rem auto;
}

main article p {
    padding: .6rem;
    line-height: 2rem;
}

main article img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h3.infoH {
    margin-bottom: 0;
    margin-top: 2rem;
}

.information div img {
    max-width: 100%;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .2rem;
}

.information div:nth-child(1) {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
}

.information div:nth-child(2) {
    grid-column: 3 / 5;
    align-self: center;
    justify-self: left;
    margin-left: 6rem;
}

.contact {
    font-size: .9rem;
    line-height: 1.5rem;
    margin: 1rem 0 3rem 3rem;
}

.social-img {
    width: 2rem;
    padding-right: 10px;
}

.contact-img {
    padding: 0px;
}

div.maps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 150px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 150px;
}

footer {
    color: #2B2D42;
    text-align: center;
    padding: .9rem;
    background-color: #8D99AE;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

footer a:active {
    color: #ef233c;
}

footer a:visited {
    color: #2b2d42;
}