// color palette 
$color-1: #bf0707;
$color-2: #d8820f;
$color-3: #190f02;
$color-4: #e6e6e6;
$color-5: #ffffff;
// additional colors
$success: #d8c40f;
//fonts
@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$primary-font: 'Amita',
cursive;
$secondary-font: 'Open Sans',
sans-serif;