    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap');
    html {
        background-color: #FFF7EB;
    }
    
    body {
        background-color: whitesmoke;
        margin: 0;
        box-shadow: 60px #db4c40;
        font-size: 16px;
    }
    
    header {
        background-color: #E4A797;
        display: flex;
        align-items: center;
        border-radius: .20rem;
        justify-content: center;
        padding: 5px;
    }
    
    header>img {
        width: 90px;
        height: auto;
        padding: .25rem;
    }
    
    header nav ul {
        display: flex;
        align-items: center;
        list-style: none;
    }
    
    header nav ul li a {
        color: #D9836D;
        text-decoration: none;
        font-size: 1rem;
        font-family: "Open Sans", Arial, sans-serif;
        display: block;
        padding: .25rem;
    }
    
    main {
        padding-right: 50px;
        padding-left: 50px;
    }
    
    h1 {
        font-family: 'Dancing Script', "Lucida Sans", "Times New Roman";
        color: #FFF7EB
    }
    
    h2 {
        font-family: 'Dancing Script', "Lucida Sans", "Times New Roman";
        color: #D9836D
    }
    
    img {
        max-width: 100%;
    }
    
    p {
        font-family: "Open Sans", Arial, sans-serif;
        color: #544F4F;
        line-height: 1.75rem;
    }
    
    footer {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: .8rem;
        color: #000000;
        background-color: #E4A797;
        border-radius: .20rem;
    }
    
    .information {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
    }
    
    .information div:nth-child(1) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: flex-start;
    }
    
    .information div:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: right;
    }
    
    .information div:nth-child(3) {
        grid-column: 1 / -1;
        grid-row: -1;
        align-self: center;
        justify-self: center;
    }
    
    nav a:link,
    nav a:visited {
        color: #FFF7EB;
    }
    
    nav a:hover {
        color: #D9836D;
        background-color: whitesmoke;
    }
    
    header,
    body,
    main,
    footer {
        max-width: 960px;
        margin: 0 auto;
    }
    
    .important {
        text-align: center;
        font-size: 1.5em;
    }
    
    .contact {
        font-size: .9rem;
        line-height: 1.5rem;
        margin-left: 15px;
        margin-top: 15px;
    }
    
    .social-img {
        padding-right: 10px;
    }
    
    .contact-img {
        padding: 0px;
    }
    
    .copyright {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 1em;
    }