@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap');
html {
    background-color: #89BD9E;
}

body {
    background-color: whitesmoke;
    margin: 0;
    box-shadow: 60px #db4c40;
    font-size: 16px;
}

header {
    background-color: #BDBDAC;
    display: flex;
    align-items: center;
    border-radius: .20rem;
    justify-content: center;
    width: 980px;
    padding: 5px;
}

header>img {
    width: 90px;
    height: auto;
    padding: .25rem;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: right;
}

header nav ul li a {
    color: #BDBDAC;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    padding: .25rem;
}

main {
    padding-right: 50px;
    padding-left: 50px;
}

h1 {
    font-family: 'Dancing Script', "Lucida Sans", "Times New Roman";
    color: #db4c40
}

h2 {
    font-family: 'Dancing Script', "Lucida Sans", "Times New Roman";
    color: #89BD9E
}

img {
    max-width: 100%;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
    color: #8F8787;
    line-height: 1.75rem;
}

footer {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .8rem;
    color: #A3A38B;
    background-color: #BDBDAC;
    border-radius: .20rem;
    width: 980px;
    height: auto;
    position: relative;
}

nav a:link,
nav a:visited {
    color: #DB4C40
}

nav a:hover {
    color: #DB4C40;
    background-color: whitesmoke
}

body,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

.important {
    text-align: center;
    font-size: 1.5em;
}

.navigation {
    font-family: 'Open Sans';
    font-size: .7rem;
    color: #89BD9E;
    padding: .25rem;
}

.social-media {
    margin-top: 100px;
    margin-right: 100px;
    float: right;
}

.contact {
    display: inline-block;
    font-size: .9rem;
    line-height: 1.5rem;
    margin-left: 15px;
    margin-top: 15px;
}

.social-img {
    padding-right: 10px;
}

.contact-img {
    padding: 0px;
}

.copyright {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}