html {
    background-color: rgb(205, 238, 247);
}

header {
    font-family: sans-serif;
    text-align: center;
    color: rgb(190, 24, 168);
    background-color: rgba(121, 121, 121, 0.527);
}

.weeks-list {
    text-align: left;
}

.info {
    padding: 2px;
}

.infoPic {
    max-width: 200px;
    margin: 1em;
}

main {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(41, 146, 172);
    background-color: #eee;
}

body {
    background-color: #eee;
    max-width: 700px;
    margin: auto;
    border-radius: .5rem;
}

footer {
    padding: .5em;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
    color: rgb(190, 24, 168);
    margin-top: 18px;
    background-color: rgba(121, 121, 121, 0.527);
}

h1 {
    font-size: 1.8rem;
    margin: 0.15rem;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.weeks-list {
    font-size: 18px;
    padding: 5px;
    box-sizing: border-box;
}

.dateModified {
    color: rgb(252, 252, 71);
}